* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
#__next {
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

ul,
ol {
  list-style: none;
}

:root {
  --color1: #a60ccc;
  --color2: #823695;
  --color3: #680880;
  --color4: #b249cc;
  --color5: #3e054d;
}

body {
  background-image: linear-gradient(45deg, var(--color5), var(--color2), var(--color5));
  background-size: 200vw 200vh;
  animation: background-move-animation 5s linear infinite alternate-reverse;
}

@-webkit-keyframes background-move-animation {
  from {
    background-position: 0% 50%;
  }
  to {
    background-position: 100% 50%;
  }
}

@keyframes background-move-animation {
  from {
    background-position: 0% 50%;
  }
  to {
    background-position: 100% 50%;
  }
}

/*
#A60CCC

#823695

#680880

#B249CC

#3E054D
*/
#menu-top {
  background-color: var(--color3);
}

#menu-top ul {
  width: 100%;
}

@media (min-width: 501px) {
  #menu-top {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-animation: Load 200ms backwards;
            animation: Load 200ms backwards;
  }
  #menu-top ul {
    max-width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #menu-top ul li {
    background-color: rgba(0, 0, 0, 0.1);
  }
  #menu-top ul li a {
    text-align: center;
    margin: 0.5rem 0;
    font-size: 1.5rem;
    color: white;
    -webkit-transition: -webkit-transform 20ms;
    transition: -webkit-transform 20ms;
    transition: transform 20ms;
    transition: transform 20ms, -webkit-transform 20ms;
  }
  #menu-top ul li a:hover {
    text-decoration: underline;
  }
  #menu-top-check-button-label {
    display: none;
  }
}

@media (max-width: 500px) {
  #menu-top {
    width: 100vw;
    height: 100vh;
    position: fixed;
    -webkit-transition: all 200ms;
    transition: all 200ms;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #menu-top ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 80%;
    width: 80%;
    -webkit-box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.05);
            box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.05);
  }
  #menu-top ul li {
    margin-top: .5rem;
  }
  #menu-top ul li a {
    color: white;
    font-size: 2rem;
  }
  #menu-top ul li a:hover {
    text-decoration: underline;
  }
  #menu-top-check-button-label {
    position: fixed;
    z-index: 20;
    top: 0;
    right: 0;
    font-size: 3rem;
  }
  #menu-top.close {
    -webkit-transform: translateY(-101%);
            transform: translateY(-101%);
  }
}

@-webkit-keyframes Load {
  from {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes Load {
  from {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

:root {
  --color1: #a60ccc;
  --color2: #823695;
  --color3: #680880;
  --color4: #b249cc;
  --color5: #3e054d;
}

body {
  background-image: linear-gradient(45deg, var(--color5), var(--color2), var(--color5));
  background-size: 200vw 200vh;
  animation: background-move-animation 5s linear infinite alternate-reverse;
}

@keyframes background-move-animation {
  from {
    background-position: 0% 50%;
  }
  to {
    background-position: 100% 50%;
  }
}

/*
#A60CCC

#823695

#680880

#B249CC

#3E054D
*/
/*# sourceMappingURL=index.css.map */